# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/dataSources/
.idea/modules/
build/classes/
build/tmp/
out/
src/main/java/di/org/springframework/beans/factory/postPtocessor/
